---
import SnowAnimation from "../components/SnowAnimation.vue";
---

<div id="snow-path">
  <!-- Componente de nieve -->
  <SnowAnimation />

  <!-- Contenedor principal -->
  <div class="container">
    <img src="/main.png" alt="Obra principal" />
    <img src="/1.png" alt="Obra secundaria 1" />
    <img src="/2.png" alt="Obra secundaria 2" />
  </div>
</div>
