---
import SnowAnimation from "../components/SnowAnimation.vue";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div client:only>
    <!-- Este componente se ejecutará solo en el cliente -->
    <SnowAnimation />
  </div>

  <!-- Otros elementos en la página -->
  <div class="container">
    <h1>Bienvenidos a la obra principal</h1>
    <p>Aquí iría la descripción</p>
  </div>
</Layout>
